cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
google-api-core==2.19.1
google-api-python-client==2.81.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-tools==1.64.1
httplib2==0.22.0
idna==3.7
proto-plus==1.24.0
protobuf==5.27.1
protobufp==0.2.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
requests==2.32.3
rsa==4.9
setuptools==70.1.0
uritemplate==4.1.1
urllib3==2.2.2
